<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원정보 관리</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="/js/cookie.min.js"></script>
</head>
<body>
<div class="container">
<!--    <button th:onclick="|window.location.href='/'|">홈</button>-->
    <input type="hidden" id="userId" th:value="${user.id}" />
    <h1 th:text="${user.nickname}"></h1>
    <div class="profile">
        <label>Nickname:</label>
        <span id="nickname" th:text="${user.nickname}"></span>
    </div>
    <div class="edit-profile">
        <input type="text" id="newNickname" placeholder="Enter new nickname">
        <input type="text" id="nicknamePassword" placeholder="Enter new nickname">
        <button id="updateNickname" onclick="updateNickname()">Update Nickname</button>
    </div>
    <div class="edit-profile">
        <input type="password" id="password" placeholder="Enter new password">
        <input type="password" id="newPassword" placeholder="Enter new password">
        <button id="updatePassword" onclick="updatePassword()">Update Password</button>
    </div>
</div>
<script>
    function updateNickname() {
        let nickname= $('#newNickname').val();
        let password = $('#nicknamePassword').val();
        let userId = $('#userId').val();
        $.ajax({
            type: "PUT",
            url: `/users/${userId}/nickname`,
            contentType: "application/json",
            data: JSON.stringify({nickname: nickname,password:password}),
        })
            .done(function (res, status, xhr) {
               alert("닉네임이 변경되었습니다. 로그인 페이지로 이동합니다.");
                logout();
            })
            .fail(function (xhr, textStatus, errorThrown) {
                alert("닉네임이 변경에 실패했습니다.")
            });
    }

    function updatePassword() {
        let password = $('#password').val();
        let newPassword = $('#newPassword').val();
        let userId = $('#userId').val();
        $.ajax({
            type: "PUT",
            url: `/users/${userId}/password`,
            contentType: "application/json",
            data: JSON.stringify({password : password , newPassword: newPassword}),
        })
            .done(function (res, status, xhr) {
                alert("비밀번호가 변경되었습니다. 로그인 페이지로 이동합니다.");
                logout();
            })
            .fail(function (xhr, textStatus, errorThrown) {
                alert("비밀번호 변경에 실패했습니다.")
            });
    }
    function logout() {
        // 토큰 삭제
        Cookies.remove('Authorization', {path: '/'});
        window.location.href ='/users/login-page';
    }

</script>
</body>
</html>